td {
  font-family: arial;
  color: #14396a !important;
  font-size: 20px;
  text-shadow: 1px 1px 0px #7cacde;
  box-shadow: 1px 1px 1px #bee2f9;
  padding: 10px 25px;
  border-radius: 10px;
  border: 2px solid #3866a3;
}

.notClicked{
    background: #63b8ee;
}

.clicked{
    background: #EEE6DD;
}
